<h1> Welcome to the friend feed </h1>
<div class="search-area">
  <h3>Search friends</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 some-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Search with name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
      <%= button_tag type: :submit, class: "btn btn-success btn-lg" do %>
        <%= fa_icon 'search'%>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="response">

</div>
<% if !@followee_list.empty? %>  
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% @followee_list.each do |followee|%>
          <tr>
            <td><%= followee.full_name %></td>
            <td><%= followee.email %></td>
            <td>
              <%= link_to 'Stop following', following_path(followee), data: { confirm: "Are you sure" }, class: "btn btn-sm btn-warning", method: :delete %>
              <%= link_to 'View Profile', user_path(followee), class: "btn btn-success btn-sm ml-4" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<% else %>
  <h3> It's lonely here, follow somebody to add them into friends feed! </h3>
<% end %>